/*
 * @name        IRC
 * @author      Kylie McClain
 * @version     0.1
 * @description it looks like IRC
 * @website     https://somas.is
 * @source      https://git.mutiny.red/somasis/discord-theme-irc
 * @updateUrl   https://github.com/somasis/discord-theme-irc/raw/main/irc.css
 */

/* make more native-ish */
:root {
    /* Use system fonts. */
    --font-primary: sans !important;
    --font-display: sans !important;
    --font-code: monospace !important;
}

.tooltip-14MtrL {
    /* Allow tooltips to be a little longer to account for possible
       system font size differences. */
    max-width: 16rem;
}

.textArea-2CLwUE,
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi,
.markup-eYLPri pre,
.markup-eYLPri code,
.codeBlockText-311wOq,
.codeLine-3a3dbd {
    /* Enlarge monospaced fonts to match the sans-serif.
       Use monospace for the conversation view and text entry. */
    font-family: var(--font-code) !important;
    font-size: 1rem !important;
}

/* IRC styling. */
.chat-2ZfjoI .compact-2Nkcau,
.form-3gdLxP {
    /* Monospace chat font. */
    font-family: var(--font-code) !important;
}

.compact-2Nkcau .username-h_Y3Us::before,
.compact-2Nkcau .compact-3bMNvi .anchor-1MIwyf:first-child::before {
    /* IRC-style username display. */
    content: "<";
}

.compact-2Nkcau .username-h_Y3Us::after,
.compact-2Nkcau .compact-3bMNvi .anchor-1MIwyf:first-child::after {
    content: ">";
}

/* align things more compactly */
.compact-2Nkcau .attachButton-_ACFSu {
    /* Ensure attach button is 1rem from sidebar.
       We want to align all the text in the conversation view to its left edge. */
    margin: 0 !important;
    padding: 0 !important;
}

.compact-2Nkcau .repliedMessage-3Z6XBG {
    /* Align message replies with <usernames>. */
    padding-left: 0 !important;
    margin-left: 0.5rem !important;
    text-indent: 0 !important;
}

.compact-2Nkcau .contents-2MsGLg {
    /* Align text-wrap with start of usernames.
       FIXME: why on earth are these numbers so specific? */
    margin-left: -4.4rem !important;
    padding-left: 4.95rem !important;
    text-indent: -4.45rem !important;
}

.compact-2Nkcau .container-2sjPya {
    /* Align extras (attachments, buttons, embeds, images, etc.) with <usernames> . */
    padding-left: 0.55rem;
    font-size: 1rem;
    padding-bottom: 0;
}

.compact-3bMNvi.container-x059i8 .iconContainer-2rPbqG {
    /* Align join message icons with timestamps */
    margin-right: 7.5px;
    margin-left: 11px;
}

/* conversation view */
.group-spacing-0 .groupStart-3Mlgv1 {
    /* Remove un-customizable message spacing. */
    margin-top: 0rem;
}

.compact-2Nkcau.wrapper-30-Nkg {
    padding-top: 0;
    padding-bottom: 0;
}

.compact-2Nkcau .header-2jRmjb .timestamp-p1Df1m {
    /* Make timestamp font same size as message text. */
    font-size: 1rem !important;
    width: 4rem !important;
    margin: 0 !important;
    text-align: initial;
}

.compact-2Nkcau .header-2jRmjb .timestampVisibleOnHover-9PEuZS {
    /* Always show timestamps. */
    opacity: 1 !important;
}

.compact-2Nkcau .messageContent-2t3eCI .emoji.jumboable {
    /* Jumbo emojis in compact mode */
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    vertical-align: text-top;
}

.divider-IqmEqJ {
    /* Make unread divider full length of conversation view. */
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.unreadPill-3nEWYM {
    /* Minimal unread divider (remove "NEW"). */
    display: none;
}

.markup-eYLPri code,
.codeView-12LUIl,
.content-vSHmMD {
    line-height: 1.25;
}

/* conversation text entry styling */
.form-3gdLxP {
    /* Make it blend into the conversation view, as though typing into a terminal. */
    padding: 0;
    background: var(--background-primary);
}

.scrollableContainer-15eg7h {
    background: var(--background-primary);
}

.form-3gdLxP .inner-NQg18Y {
    /* Vertically center-align text area contents. */
    margin: 0;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
}

.form-3gdLxP .channelTextArea-1FufC0 {
    margin-bottom: 0;
}

.scroller-kQBbkU {
    /* Adjust scroller padding appropriately. */
    margin-bottom: 0;
}

.scrollerSpacer-3AqkT9 {
    height: 0.5rem;
}

.typing-2J1mQU {
    /* Compact typing indicator. */
    margin-left: -0.125rem;
    margin-bottom: -0.3rem;
    font-size: 0.65rem;
}

.ellipsis-1e7x0D {
    display: none !important;
}

/* conversation view > message styling */
.repliedMessage-3Z6XBG:before,
.replyBadge-LMm_Ic {
    /* Hide reply badges, and the connecting line, as we signify replies with colors and
       the text style is unusual enough anyway to be obvious. */
    display: none !important;
}

.message-2CShn3:hover {
    /* Brighten messages on hover */
    background-color: rgba(255, 255, 255, 0.05);
}

.message-2CShn3.mentioned-Tre-dv:hover {
    /* Color-code mention, brighten on hover. */
    background-color: rgba(250, 166, 26, 0.1);
}

.message-2CShn3.hasReply-2Cr4KE {
    /* Color-code reply, brighten on hover. */
    background-color: rgba(114, 137, 218, 0.05);
}

.message-2CShn3.hasReply-2Cr4KE:hover {
    background-color: rgba(114, 137, 218, 0.1);
}

.message-2CShn3.hasReply-2Cr4KE.mentioned-Tre-dv {
    /* Color-code reply+mention, brighten on hover. */
    background-color: rgba(250, 166, 26, 0.05);
}

.message-2CShn3.hasReply-2Cr4KE.mentioned-Tre-dv:hover {
    background-color: rgba(250, 166, 26, 0.1);
}
